/* .singlecard{
    margin: 0 auto;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
}

.heading{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
} */